<div id="page-wrapper">
  <div id="page-header" class="bg-gradient-9" ng-controller="NavbarCtrl">
    <div id="mobile-navigation">
      <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar" aria-expanded="false" aria-controls="navbar"><span></span></button>
      <a href="/home#/" class="logo-content-small" title="MonarchUI"></a>
    </div>
    <div id="header-logo" class="logo-bg hidden-sm hidden-xs">
      <a href="/" title="MonarchUI">
        <img src="/assets/image-resources/Logo_insite.png" alt="" style="height: 60px;margin-left:-20px">
        <img src="/assets/image-resources/medical.png" alt="" style="height: 50px;margin : 15px;">
      </a>
      <a href="/" class="hidden-lg hidden-md" title="MonarchUI">
        <img src="/assets/image-resources/Logo_insite.png" alt="" style="height: 50px;margin-left:-20px">
        <img src="/assets/image-resources/medical.png" alt="" style="height: 40px;margin : 15px;">
      </a>
      <a id="close-sidebar" href="#" title="Close sidebar">
        <i class="glyph-icon icon-angle-left"></i>
      </a>
    </div>
    <div id="header-nav-left">
      <div class="user-account-btn dropdown">
        <a href="#" title="Mi cuenta" class="user-profile clearfix" data-toggle="dropdown">
          <img width="28" src="/assets/image-resources/gravatar.jpg" alt="Profile image">
          <span>{{ getCurrentUser().name }}</span>
          <i class="glyph-icon icon-angle-down"></i>
        </a>
        <div class="dropdown-menu float-left">
          <div class="box-sm">
            <div class="login-box clearfix">
              <div class="user-img">
                <a href="#" title="" class="change-img">Cambiar foto</a>
                <img src="/assets/image-resources/gravatar.jpg" alt="">
              </div>
              <div class="user-info">
                <span>
                {{ getCurrentUser().name }}
                </span>
                <a title="Cambiar Contraseña" href="/settings">Ajustes</a>
              </div>
            </div>
            <div class="divider"></div>

            <div ng-show="isLoggedIn()" class="pad5A button-pane button-pane-alt text-center">
              <a ng-click="logout()"class="btn display-block font-normal btn-danger">
                <i class="glyph-icon icon-power-off"></i>
                <span>Cerrar Sesión</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #header-nav-left -->
    <!--div id="header-nav-right">
      <a href="#" class="popover-button" title="" data-placement="bottom" data-id="#popover-search" data-original-title="Search">
      <i class="glyph-icon icon-search"></i>
      </a>
      <div class="hide" id="popover-search">
        <div class="pad5A box-md">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search terms here ...">
            <span class="input-group-btn">
            <a class="btn btn-primary" href="#">Search</a>
            </span>
          </div>
        </div>
      </div>
      <div class="dropdown" id="notifications-btn">
        <a data-toggle="dropdown" href="#" title="">
        <span class="small-badge bg-yellow"></span>
        <i class="glyph-icon icon-linecons-megaphone"></i>
        </a>
        <div class="dropdown-menu box-md float-right">
          <div class="popover-title display-block clearfix pad10A">
            Notifications
            <a class="text-transform-cap font-primary font-normal btn-link float-right" href="#" title="View more options">
            More options...
            </a>
          </div>
          <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
            <div class="scrollable-content scrollable-slim-box" style="overflow: hidden; width: auto; height: 250px;">
              <ul class="no-border notifications-box">
                <li>
                  <span class="bg-danger icon-notification glyph-icon icon-bullhorn"></span>
                  <span class="notification-text">This is an error notification</span>
                  <div class="notification-time">
                    a few seconds ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
                <li>
                  <span class="bg-warning icon-notification glyph-icon icon-users"></span>
                  <span class="notification-text font-blue">This is a warning notification</span>
                  <div class="notification-time">
                    <b>15</b> minutes ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
                <li>
                  <span class="bg-green icon-notification glyph-icon icon-sitemap"></span>
                  <span class="notification-text font-green">A success message example.</span>
                  <div class="notification-time">
                    <b>2 hours</b> ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
                <li>
                  <span class="bg-azure icon-notification glyph-icon icon-random"></span>
                  <span class="notification-text">This is an error notification</span>
                  <div class="notification-time">
                    a few seconds ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
                <li>
                  <span class="bg-warning icon-notification glyph-icon icon-ticket"></span>
                  <span class="notification-text">This is a warning notification</span>
                  <div class="notification-time">
                    <b>15</b> minutes ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
                <li>
                  <span class="bg-blue icon-notification glyph-icon icon-user"></span>
                  <span class="notification-text font-blue">Alternate notification styling.</span>
                  <div class="notification-time">
                    <b>2 hours</b> ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
                <li>
                  <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                  <span class="notification-text">This is an error notification</span>
                  <div class="notification-time">
                    a few seconds ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
                <li>
                  <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                  <span class="notification-text">This is a warning notification</span>
                  <div class="notification-time">
                    <b>15</b> minutes ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
                <li>
                  <span class="bg-green icon-notification glyph-icon icon-user"></span>
                  <span class="notification-text font-green">A success message example.</span>
                  <div class="notification-time">
                    <b>2 hours</b> ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
                <li>
                  <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                  <span class="notification-text">This is an error notification</span>
                  <div class="notification-time">
                    a few seconds ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
                <li>
                  <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                  <span class="notification-text">This is a warning notification</span>
                  <div class="notification-time">
                    <b>15</b> minutes ago
                    <span class="glyph-icon icon-clock-o"></span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slimScrollBar" style="width: 6px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(141, 160, 170);"></div>
            <div class="slimScrollRail" style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
          </div>
          <div class="pad10A button-pane button-pane-alt text-center">
            <a href="#" class="btn btn-primary" title="View all notifications">
            View all notifications
            </a>
          </div>
        </div>
      </div>
      <div class="dropdown" id="progress-btn">
        <a data-toggle="dropdown" href="#" title="">
        <span class="small-badge bg-azure"></span>
        <i class="glyph-icon icon-linecons-params"></i>
        </a>
        <div class="dropdown-menu pad0A box-sm float-right" id="progress-dropdown">
          <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
            <div class="scrollable-content scrollable-slim-box" style="overflow: hidden; width: auto; height: 250px;">
              <ul class="no-border progress-box progress-box-links">
                <li>
                  <a href="#" title="">
                    <div class="progress-title">
                      Finishing uploading files
                      <b>23%</b>
                    </div>
                    <div class="progressbar-smaller progressbar" data-value="23">
                      <div class="progressbar-value bg-blue-alt" style="overflow: hidden; width: 0px;">
                        <div class="progressbar-overlay"></div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" title="">
                    <div class="progress-title">
                      Roadmap progress
                      <b>91%</b>
                    </div>
                    <div class="progressbar-smaller progressbar" data-value="91">
                      <div class="progressbar-value bg-red" style="overflow: hidden; width: 0px;">
                        <div class="progressbar-overlay"></div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" title="">
                    <div class="progress-title">
                      Images upload
                      <b>58%</b>
                    </div>
                    <div class="progressbar-smaller progressbar" data-value="58">
                      <div class="progressbar-value bg-green" style="overflow: hidden; width: 0px;"></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" title="">
                    <div class="progress-title">
                      WordPress migration
                      <b>74%</b>
                    </div>
                    <div class="progressbar-smaller progressbar" data-value="74">
                      <div class="progressbar-value bg-purple" style="overflow: hidden; width: 0px;"></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" title="">
                    <div class="progress-title">
                      Agile development procedures
                      <b>91%</b>
                    </div>
                    <div class="progressbar-smaller progressbar" data-value="91">
                      <div class="progressbar-value bg-black" style="overflow: hidden; width: 0px;">
                        <div class="progressbar-overlay"></div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" title="">
                    <div class="progress-title">
                      Systems integration
                      <b>58%</b>
                    </div>
                    <div class="progressbar-smaller progressbar" data-value="58">
                      <div class="progressbar-value bg-azure" style="overflow: hidden; width: 0px;"></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" title="">
                    <div class="progress-title">
                      Code optimizations
                      <b>97%</b>
                    </div>
                    <div class="progressbar-smaller progressbar" data-value="97">
                      <div class="progressbar-value bg-yellow" style="overflow: hidden; width: 0px;"></div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="slimScrollBar" style="width: 6px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(141, 160, 170);"></div>
            <div class="slimScrollRail" style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
          </div>
          <div class="pad5A button-pane button-pane-alt text-center">
            <a href="#" class="btn display-block font-normal hover-green" title="View all notifications">
            View all notifications
            </a>
          </div>
        </div>
      </div>
      <div class="dropdown" id="dashnav-btn">
        <a href="#" data-toggle="dropdown" data-placement="bottom" class="popover-button-header tooltip-button" title="" data-original-title="Example menu">
        <i class="glyph-icon icon-linecons-cog"></i>
        </a>
        <div class="dropdown-menu float-right">
          <div class="box-sm">
            <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix">
              <a href="#" class="btn vertical-button hover-blue-alt" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
              </span>
              Dashboard
              </a>
              <a href="#" class="btn vertical-button hover-green" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
              </span>
              Widgets
              </a>
              <a href="#" class="btn vertical-button hover-orange" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
              </span>
              Tables
              </a>
              <a href="#" class="btn vertical-button hover-orange" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
              </span>
              Charts
              </a>
              <a href="#" class="btn vertical-button hover-purple" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
              </span>
              Buttons
              </a>
              <a href="#" class="btn vertical-button hover-azure" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
              </span>
              Panels
              </a>
            </div>
            <div class="divider"></div>
            <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix">
              <a href="#" class="btn vertical-button remove-border btn-info" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
              </span>
              Dashboard
              </a>
              <a href="#" class="btn vertical-button remove-border btn-danger" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
              </span>
              Widgets
              </a>
              <a href="#" class="btn vertical-button remove-border btn-purple" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
              </span>
              Tables
              </a>
              <a href="#" class="btn vertical-button remove-border btn-azure" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
              </span>
              Charts
              </a>
              <a href="#" class="btn vertical-button remove-border btn-yellow" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
              </span>
              Buttons
              </a>
              <a href="#" class="btn vertical-button remove-border btn-warning" title="">
              <span class="glyph-icon icon-separator-vertical pad0A medium">
              <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
              </span>
              Panels
              </a>
            </div>
          </div>
        </div>
      </div>
      <a class="header-btn" id="logout-btn" href="lockscreen-3.html" title="Lockscreen page example">
      <i class="glyph-icon icon-linecons-lock"></i>
      </a>
    </div-->
    <!-- #header-nav-right -->
  </div>
</div>
<!--
<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Planeador Insite</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Administrar</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text"> {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Salir</a></li>
      </ul>
    </div>
  </div>
</div>
 -->
<div id="page-sidebar" class="bg-gradient-6 font-inverse">
  <div class="scroll-sidebar">
    <ul id="sidebar-menu" class="sf-js-enabled sf-arrows">
      <li class="header"><span translate="SIDEBAR_ADMIN"></span></li>
      <li>
        <a href="/" title="Admin Dashboard" class="sfActive">
          <i class="glyph-icon icon-home"></i>
          <span>Inicio</span>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/calendar" title="Planeador de canciones" class="sfActive">
          <i class="glyph-icon icon-bell"></i>
          <span>Planeador</span>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/files" title="Planeador de canciones" class="sfActive">
          <i class="glyph-icon icon-music"></i>
          <span>Gestión de archivos </span>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/admin" title="Planeador de canciones" class="sfActive">
          <i class="glyph-icon icon-user"></i>
          <span>Administrador de usuarios</span>
        </a>
      </li>
    </ul>
    <!-- #sidebar-menu -->
  </div>
</div>
